# Visual Studio 2015 user specific files
.vs/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.exe
*_noconflict.xml
*.xml1
*.bml1
*.bmlnew
*.bmlback
*.pakback

# dev dir packages
dev/**/*.bml
dev/*.bml
dev/**/*.pak
dev/*.pak